
.prefix_list {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
.header_toys {
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('/toys_bg.webp');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.prefix_list {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 30px;
}

.toys_title h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.toys_title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

@media (max-width: 768px) {
    .toys_title h1{ 
        font-size: 39px;
    }

}