body {
  transition: background 0.7s ease, color 0.5s ease;
}

.light {
  background-color: #DBE6F6;
  color: #ff6750;
}

.dark {
  background: linear-gradient(180deg, #2c2c54, #1e1e42);
  color: #fff;
}

.button {
  background: inherit;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid #ff6750;
  color: #ff6750;
  font-weight: bold;
}

.h1__logo {
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  position: relative;
  color: #ff6750;
  font-weight: bold;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    background-image: url(/public/header_cat.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 120px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
}

.header {
  padding: 60px;
  border-bottom: 2px solid #4717b0;
  background: rgba(44, 44, 84, 0.9);
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.links {
  display: flex;
  gap: 45px;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #ff6750;
}

.burger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #ff6750;
}

.reg {
  cursor: pointer;
  padding: 6px 12px;
  border: 2px solid #ff6750;
  border-radius: 8px;
  background-color: transparent;
  color: #ff6750;
  font-weight: bold;
  transition: 0.3s ease;

  &:hover {
    background-color: #ff6750;
    color: white;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

@media (max-width: 1024px) {
  .header {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 30px;
  }
}